In [2]:
import os
import sqlite3
import pandas as pd

In [15]:
folder = 'D:/Shweta/pccm_db'
file1 = 'PCCM_BreastCancerDB_2021_02_22.db'
file2 = 'PCCM_BreastCancerDB_2021_03_13.db'
path_db1 = os.path.join(folder, file1)
path_db2 = os.path.join(folder, file2)

In [20]:
conn1 = sqlite3.connect(path_db1)
cursor1 = conn1.cursor()

In [45]:
sql_stat = "SELECT * FROM sqlite_master WHERE TYPE = 'table'"
#tables = cursor1.execute(sql_stat)
tables = pd.read_sql(sql_stat, conn1)
tables.head()

,type,name,tbl_name,rootpage,sql
0,table,patient_information_history,patient_information_history,2,CREATE TABLE patient_information_history(file_...
1,table,biopsy_path_report_data,biopsy_path_report_data,3,"CREATE TABLE biopsy_path_report_data(pk, file_..."
2,table,surgery_path_report_data,surgery_path_report_data,4,"CREATE TABLE surgery_path_report_data(fk, file..."
3,table,block_data,block_data,7,"CREATE TABLE block_data(fk, file_number, block..."
4,table,radiology,radiology,8,"CREATE TABLE radiology(file_number, mammograph..."

In [46]:
tables['name']

0     patient_information_history
1         biopsy_path_report_data
2        surgery_path_report_data
3                      block_data
4                       radiology
5                     pet_reports
6                  surgery_report
7         general_medical_history
8           family_cancer_history
9         previous_cancer_history
10        nutritional_supplements
11              physical_activity
12                 breast_feeding
13                 nact_tox_table
14                nact_drug_table
15           neo_adjuvant_therapy
16                chemo_tox_table
17               chemo_drug_table
18                   radiotherapy
19                 follow_up_data
20        hormonetherapy_survival
21                     block_list
22                  clinical_exam
23          adjuvant_chemotherapy
Name: name, dtype: object

In [22]:
tables.iloc[0][4]

'CREATE TABLE patient_information_history(file_number, mr_number, name, aadhaar_card, firstvisit_date, permanent_address, current_address, phone, email_id, gender, age_at_first_visit_yrs, diagnosis_age_yrs, date_of_birth, place_birth, height_cm, weight_kg, bmi, physical_activity_y_n, type_physical_activity, frequency_physical_activity, diet, alcohol_y_n, alcohol_consumption_age_yrs, quantity_alcohol_per_week, duration_alcohol, comments_alcohol, tobacco_y_n, exposure_mode, type_passive, type_tobacco, tobacco_consumption_age_yrs, tobacco_frequency, quantity_tobacco_per_week, duration_tobacco, comments_tobacco, other_deleterious_habits, nutritional_supplements_y_n, type_nutritional_supplements, quantity_nutritional_supplements, duration_nutritional_supplements, marital_status, siblings, sisters, brothers, children, daughters, sons, menarche_yrs, menopause_status, age_at_menopause_yrs, date_last_menstrual_period, period_type, number_pregnancies, pregnancy_to_term, number_abortions, age_first_child, age_first_pregnancy, age_last_child, age_last_pregnancy, two_births_in_year, breast_feeding, child_breast_feeding, duration_breast_feeding, breast_usage_breast_feeding, fertility_treatment_y_n, type_fertility_treatment, details_fertility_treatment, cycles_fertility_treatment, success_fertility_treatment, type_birth_control_used, details_birth_control, duration_birth_control, any_other_medical_history_y_n, type_any_other_medical_history, diagnosis_date_any_other_medical_history, treatment_any_other_medical_history, previous_cancer_history_y_n, type_previous_cancer, year_diagnosed_previous_cancer, treatment_previous_cancer, treatment_type_previous_cancer, treatment_duration_previous_cancer, familycancer_history_y_n, type_degreerelation_typerelation_age_familycancer, current_breast_cancer_detected_by, current_breast_cancer_detected_date, rb_symptoms, rb_symptoms_duration, lb_symptoms, lb_symptoms_duration, rb_other_symptoms, rb_other_symptoms_duration, lb_other_symptoms, lb_other_symptoms_duration, patient_metastasis_symptoms, usg_abdomen, diagnosis_usg_abdomen, details_diagnosis_usg_abdomen, cect_abd_thorax, visceral_metastasis_cect_abd_thorax, details_visceral_metastasis_cect_abd_thorax, pet_scan, visceral_metastasis_pet_scan, detail_visceral_metastasis_pet_scan, skeletal_metastasis_pet_scan, detail_skeletal_metastasis_pet_scan, bone_scan, skeletal_metastasis_bone_scan, detail_skeletal_metastasis_bone_scan, update_by, last_update)'

In [23]:
block_sql_stat = "SELECT * FROM block_data"
block_data = cursor.execute(block_sql_stat)
block_data = pd.read_sql(block_sql_stat, conn)
block_data

Empty DataFrame
Columns: [fk, file_number, block_id, block_reference, block_type, block_description, update_by, last_update]
Index: []

In [38]:
patient_info_sql_stat = "SELECT * FROM patient_information_history"
patient_info = cursor.execute(patient_info_sql_stat)
patient_info = pd.read_sql(patient_info_sql_stat, conn)
patient_info.head()

,file_number,mr_number,name,aadhaar_card,firstvisit_date,permanent_address,current_address,phone,email_id,gender,...,pet_scan,visceral_metastasis_pet_scan,detail_visceral_metastasis_pet_scan,skeletal_metastasis_pet_scan,detail_skeletal_metastasis_pet_scan,bone_scan,skeletal_metastasis_bone_scan,detail_skeletal_metastasis_bone_scan,update_by,last_update
0,105/20,NA,Noor Abdulhafedh Hussein Saleh Al-Hemyari,NA,15.02.2020,"Al-Hemyari house, Lahj-Yemen","302, galaxy apartment kausar baugh, kondhwa Pu...",9975597520,homady_m2010@yahoo.com,Female,...,PET Scan_not_done,NA,NA,NA,NA,Bone Scan_not_done,NA,NA,danish,2020_07_03|14_10
1,120/20,NA,Ms. Cecilia Barretto,NA,NA,"969 Dastur Meher Road, Camp Pune-411001","969 Dastur Meher Road, Camp Pune-411001",9860554508,NA,Female,...,PET Scan_not_done,NA,NA,NA,NA,Bone Scan_not_done,NA,NA,danish,2020_07_23|13_02
2,136/20,NA,Dr. Mrs. Jyoti Prashant Ingale,NA,24.02.2020,"B-1 Darshan park, Rahatani Kalewadi Pimpri Pun...","B-1 Darshan park, Rahatani Kalewadi Pimpri Pun...",9764772706,data not available,Female,...,PET Scan_not_done,NA,NA,NA,NA,Bone Scan done,Normal,NA,danish,2020_07_18|12_45
3,14/20,NA,Savita Awdeshwar Prasad,NA,08.01.2020,"Survey no. 59, Vrundavan colony Rahatni Pune 4...","Survey no. 59, Vrundavan colony Rahatni Pune 4...",8668287200; 9096130437,prasad79awdwshwar@gmail.com,Female,...,PET Scan_not_done,NA,NA,NA,NA,Bone Scan_not_done,NA,NA,danish,2020_06_27|12_34
4,146/20,NA,Joshi Kalindi Mohan,NA,02.03.2020,Venkatesh prasad shivaji nagar barshi road bee...,Venkatesh prasad shivaji nagar barshi road bee...,9881826177; 9689095271,joshimukund444@gmail.com,Female,...,PET Scan_not_done,NA,NA,NA,NA,Bone Scan_not_done,NA,NA,danish,2020_08_14|11_46

In [41]:
patient_info

,file_number,mr_number,name,aadhaar_card,firstvisit_date,permanent_address,current_address,phone,email_id,gender,...,pet_scan,visceral_metastasis_pet_scan,detail_visceral_metastasis_pet_scan,skeletal_metastasis_pet_scan,detail_skeletal_metastasis_pet_scan,bone_scan,skeletal_metastasis_bone_scan,detail_skeletal_metastasis_bone_scan,update_by,last_update
0,105/20,NA,Noor Abdulhafedh Hussein Saleh Al-Hemyari,NA,15.02.2020,"Al-Hemyari house, Lahj-Yemen","302, galaxy apartment kausar baugh, kondhwa Pu...",9975597520,homady_m2010@yahoo.com,Female,...,PET Scan_not_done,NA,NA,NA,NA,Bone Scan_not_done,NA,NA,danish,2020_07_03|14_10
1,120/20,NA,Ms. Cecilia Barretto,NA,NA,"969 Dastur Meher Road, Camp Pune-411001","969 Dastur Meher Road, Camp Pune-411001",9860554508,NA,Female,...,PET Scan_not_done,NA,NA,NA,NA,Bone Scan_not_done,NA,NA,danish,2020_07_23|13_02
2,136/20,NA,Dr. Mrs. Jyoti Prashant Ingale,NA,24.02.2020,"B-1 Darshan park, Rahatani Kalewadi Pimpri Pun...","B-1 Darshan park, Rahatani Kalewadi Pimpri Pun...",9764772706,data not available,Female,...,PET Scan_not_done,NA,NA,NA,NA,Bone Scan done,Normal,NA,danish,2020_07_18|12_45
3,14/20,NA,Savita Awdeshwar Prasad,NA,08.01.2020,"Survey no. 59, Vrundavan colony Rahatni Pune 4...","Survey no. 59, Vrundavan colony Rahatni Pune 4...",8668287200; 9096130437,prasad79awdwshwar@gmail.com,Female,...,PET Scan_not_done,NA,NA,NA,NA,Bone Scan_not_done,NA,NA,danish,2020_06_27|12_34
4,146/20,NA,Joshi Kalindi Mohan,NA,02.03.2020,Venkatesh prasad shivaji nagar barshi road bee...,Venkatesh prasad shivaji nagar barshi road bee...,9881826177; 9689095271,joshimukund444@gmail.com,Female,...,PET Scan_not_done,NA,NA,NA,NA,Bone Scan_not_done,NA,NA,danish,2020_08_14|11_46
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
577,807/15,392,Sakina Khan,Data not in Report,10/06/2015,213 Guruwar peth ;Pune-411042,213 Guruwar peth ;Pune-411042,9860405112;9769485488;9860201090,sakukhan03@gmail.com,Female,...,PET Scan_not_done,NA,NA,NA,NA,Bone Scan_not_done,NA,NA,Ritu,2020_06_10|16_55
578,809/15,321,Kavita Prajakt Mahekar,Data not in Report,29/07/2015,Prerna apartment;flat no.08;2nd floor Vimannag...,Prerna apartment;flat no.08;2nd floor Vimannag...,9657721274,kavita_mahekar@rediffmail.com,Female,...,PET Scan done,Normal,NA,Normal,NA,Bone Scan_not_done,NA,NA,Ritu,2020_04_29|13_46
579,88/13,332,Madhavi Manohar Ganu,Data not in Report,16/04/2013,A-5;Srushti;near guruganesh nagar;Kothrud;Pune...,A-5;Srushti;near guruganesh nagar;Kothrud;Pune...,9822603275;020-25308012,madurag1999@yahoo.com,Female,...,PET Scan_not_done,NA,NA,NA,NA,Bone Scan_not_done,NA,NA,Ritu,2020_03_28|01_41
580,91/17,366,Deepa Rakesh Maheshwari,Data not in Report,06/02/2017,G-801;Marvel Zephyr;Kharadi-411014,G-801;Marvel Zephyr;Kharadi-411014,9765406615;9372314827;8805919483,maheshwariankit@rediffmail.com,Female,...,PET Scan done,Normal,NA,Normal,NA,Bone Scan_not_done,NA,NA,Ritu,2020_03_18|17_13
581,98/13,319,Vijaya Prakash Ghodake,Data not in Report,11/10/2013,Ganesh nagar;vedant bunglow Shrigonda;Ahmednagar,Ganesh nagar;vedant bunglow Shrigonda;Ahmednagar,9921810079,advprakash.g@gmail.com,Female,...,PET Scan_not_done,NA,NA,NA,NA,Bone Scan_not_done,NA,NA,Ritu,2020_03_15|02_33

In [36]:
bx_path_sql_stat = "SELECT * FROM biopsy_path_report_data"
bx_path_data = cursor.execute(bx_path_sql_stat)
bx_path_data = pd.read_sql(bx_path_sql_stat, conn)
bx_path_data

Empty DataFrame
Columns: [pk, file_number, block_sr_number, block_location, current_block_location, blocks_received_at_pccm, fnac_breast, fnac_breast_date, fnac_slide_id, fnac_diagnosis, fnac_diagnosis_comments, reason_path_report, biopsy_site, biopsy_report_pccm, biopsy_ihc_report_pccm, biopsy_block_id, biopsy_number_of_blocks, biopsy_block_series, biopsy_date, biopsy_block_source, biopsy_lab_id, biopsy_type, biopsy_diagnosis, biopsy_comments, benign, biopsy_tumour_grade, biopsy_lymph_emboli, dcis_biopsy, biopsy_er, biopsy_er_percent, biopsy_pr, biopsy_pr_percent, biopsy_her2, biopsy_her2_grade, biopsy_fish, biopsy_ki67, biopsy_subtype, fnac_lymph_node, fnac_lymph_node_location, fnac_lymph_node_diagnosis, update_by, last_update, review_biopsy_date, review_biopsy_source, review_biopsy_diagnosis, review_biopsy_diagnosis_comment, review_biopsy_block_id, review_biopsy_er, review_biopsy_er_percent, review_biopsy_pr, review_biopsy_pr_percent, review_biopsy_her2, review_biopsy_her2_grade, review_biopsy_fish, review_biopsy_ki67, review_update_by, review_last_update, surgery_block_id]
Index: []

[0 rows x 58 columns]

In [24]:
conn2 = sqlite3.connect(path_db2)
cursor2 = conn2.cursor()

In [30]:
sql_stat = "SELECT * FROM sqlite_master WHERE TYPE = 'table'"
tables = cursor2.execute(sql_stat)
#tables = pd.read_sql(sql_stat, conn2)
#tables.head()