In [5]:
import pandas as pd
import os
from fuzzywuzzy import process
import datetime
import dateparser
import re

In [6]:
def find_date(sx_df, dt_str = 'Sx Date'):
    dts = []
    for sx_dt in sx_df[dt_str]:
        match = re.search('\d{4}-\d{2}-\d{2}', str(sx_dt))
        if match is not None:
            dt = datetime.datetime.strptime(match.group(), '%Y-%m-%d').date()
            dts.append(str(dt))
        else:
            dts.append(sx_dt)
    return dts

In [7]:
def convert_all_dates_into_one_format(dates):
    dts = []
    for date in dates:
        dt_find = dateparser.parse(str(date))
        match = re.search('\d{4}-\d{2}-\d{2}', str(dt_find))
        if match is not None:
            dts.append(match[0])
        else:
            dts.append(date)
    return dts

In [8]:
def match_the_dates(path, sx_df, sx_images_dts, dt_str = 'Sx Date', sx_name_str = 'Name '):
    sx_dates = find_date(sx_df, dt_str)
    all_dates = convert_all_dates_into_one_format(sx_dates)
    sx_df['cleaned_sx_dates'] = all_dates
    for sx_image_dt in sx_images_dts:
        matched_dates = process.extractBests(query=sx_image_dt, choices=all_dates, score_cutoff=100)
        print(matched_dates) 
        if matched_dates is not None:
            dt_gr = sx_df.groupby('cleaned_sx_dates')
            if len(matched_dates) == 1:
                matched_dt_gr = dt_gr.get_group(matched_dates[0][0])
                names = matched_dt_gr[sx_name_str]
                new_name = sx_image_dt + '_' + names.iloc[0]
                source = os.path.join(path, sx_image_dt)
                destination = os.path.join(path, new_name)
                os.rename(source, destination)
            if len(matched_dates) == 2:
                matched_dt_gr = dt_gr.get_group(matched_dates[0][0])
                names = matched_dt_gr[sx_name_str]
                new_name = sx_image_dt + '_' + names.iloc[0] + '_' + names.iloc[1]
                source = os.path.join(path, sx_image_dt)
                destination = os.path.join(path, new_name)
                os.rename(source, destination)
            if len(matched_dates) == 3:
                matched_dt_gr = dt_gr.get_group(matched_dates[0][0])
                names = matched_dt_gr[sx_name_str]
                new_name = sx_image_dt + '_' + names.iloc[0] + '_' + names.iloc[1] + '_' + names.iloc[2]
                source = os.path.join(path, sx_image_dt)
                destination = os.path.join(path, new_name)
                os.rename(source, destination)
            if len(matched_dates) == 4:
                matched_dt_gr = dt_gr.get_group(matched_dates[0][0])
                names = matched_dt_gr[sx_name_str]
                new_name = sx_image_dt + '_' + names.iloc[0] + '_' + names.iloc[1] + '_' + names.iloc[2] + '_' + names.iloc[3]
                source = os.path.join(path, sx_image_dt)
                destination = os.path.join(path, new_name)
                os.rename(source, destination)

In [9]:
sx_data = pd.read_excel('D:\\Shweta\\Surgery\\surgery_list.xlsx')
sx_data.head()

,Name,File_number,Sx Date,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28
0,Prabha Devakrishna,NaN,23/09/10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Mr. Keshav Devkrishna,NaN,23/11/10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Deepa Singh,NaN,30/11/10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Nandini Marathe,NaN,2010-09-12 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Shevanta Kakdhar,TBD,16/12/10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
sx_images_dt = os.listdir('D:\\Shweta\\Surgery\\Date_Wise_Files\\')
sx_images_dt[0:10]

['2019-07-27',
 '2019-10-18',
 '2019-11-05',
 '2019-11-09',
 '2019-11-14',
 '2019-12-04',
 '2019-12-30',
 '2020-01-01',
 '2020-01-19',
 '2020-02-13']

In [13]:
match_the_dates('D:\\Shweta\\Surgery\\Date_Wise_Files\\', sx_data, sx_images_dt, dt_str = 'Sx Date', sx_name_str = 'Name ')

[('2019-07-27', 100), ('2019-07-27', 100)]
[]
[]
[]
[]
[('2019-12-04', 100)]
[('2019-12-30', 100)]
[('2020-01-01', 100), ('2020-01-01', 100)]
[]
[('2020-02-13', 100), ('2020-02-13', 100)]
[('2020-02-15', 100), ('2020-02-15', 100)]
[('2020-02-17', 100)]
[('2020-02-18', 100), ('2020-02-18', 100)]
[('2020-02-20', 100)]
[('2020-02-21', 100), ('2020-02-21', 100)]
[('2020-02-22', 100), ('2020-02-22', 100)]
[('2020-02-25', 100)]
[('2020-03-03', 100)]
[('2020-03-12', 100), ('2020-03-12', 100)]
[('2020-03-16', 100)]
[]
[('2020-03-18', 100), ('2020-03-18', 100)]
[('2020-03-19', 100)]
[('2020-03-20', 100), ('2020-03-20', 100)]
[('2020-03-21', 100)]
[]
[('2020-04-06', 100)]
[]
[]
[]
[]
[('2020-05-02', 100)]
[('2020-05-06', 100)]
[('2020-05-15', 100)]
[('2020-05-16', 100)]
[]
[('2020-05-21', 100)]
[('2020-05-25', 100)]
[('2020-05-26', 100)]
[('2020-05-28', 100)]
[('2020-05-29', 100)]
[('2020-06-02', 100), ('2020-06-02', 100), ('2020-06-02', 100)]
[]
[('2020-06-04', 100)]
[('2020-06-05', 100)]
[('2020-06-09', 100)]
[('2020-06-11', 100), ('2020-06-11', 100)]
[('2020-06-12', 100)]
[('2020-06-15', 100)]
[('2020-06-16', 100), ('2020-06-16', 100)]
[]
[('2020-06-19', 100)]
[('2020-06-23', 100)]
[('2020-06-24', 100)]
[('2020-06-26', 100), ('2020-06-26', 100)]
[]
[('2020-07-11', 100)]
[('2020-07-24', 100)]
[]
[('2020-08-06', 100)]
[('2020-08-14', 100)]
[('2020-08-18', 100)]
[]
[('2020-08-24', 100), ('2020-08-24', 100)]
[('2020-08-25', 100), ('2020-08-25', 100)]
[]
[('2020-09-07', 100)]
[('2020-09-19', 100)]
[('2020-09-22', 100)]
[('2020-09-29', 100), ('2020-09-29', 100), ('2020-09-29', 100)]
[('2020-10-05', 100)]
[('2020-10-12', 100), ('2020-10-12', 100)]
[('2020-10-14', 100)]
[('2020-10-15', 100), ('2020-10-15', 100)]
[]
[('2020-10-21', 100), ('2020-10-21', 100)]
[('2020-10-22', 100), ('2020-10-22', 100)]
[('2020-10-23', 100)]
[('2020-10-26', 100), ('2020-10-26', 100)]
[]
[('2020-11-03', 100)]
[('2020-11-05', 100)]
[]
[('2020-11-19', 100), ('2020-11-19', 100)]
[('2020-11-20', 100)]
[]
[('2020-11-30', 100)]
[('2020-12-01', 100)]
[('2020-12-02', 100)]
[('2020-12-08', 100), ('2020-12-08', 100)]
[('2020-12-15', 100)]
[('2020-12-17', 100)]
[('2020-12-28', 100), ('2020-12-28', 100)]
[]
[]
[]
[]
[]
[]
[]
[('2021-01-14', 100)]
[]
[('2021-01-18', 100)]
[('2021-01-19', 100)]
[('2021-01-20', 100), ('2021-01-20', 100), ('2021-01-20', 100)]
[('2021-01-22', 100)]
[]
[]
[]
[]
[]
[('2021-02-18', 100), ('2021-02-18', 100), ('2021-02-18', 100)]
[('2021-02-22', 100)]
[('2021-02-24', 100)]
[('2021-02-26', 100), ('2021-02-26', 100), ('2021-02-26', 100), ('2021-02-26', 100)]
[('2021-03-02', 100)]
[]
[]
[]