In [2]:
import pandas as pd
import re
import os
from fuzzywuzzy import process
from fuzzywuzzy import fuzz
import numpy as np

In [3]:
def clean_names(df, name_str):
    cleaned_names = []
    for name in df[name_str]:
        name = re.sub('[^a-zA-Z]', ' ', str(name))
        name = name.lower()
        cleaned_names.append(name)
    return cleaned_names

In [14]:
def find_matched_name_file_num(source_file, test_file, source_name_str='patient_name', test_name_str='Patient Name',
                      source_file_str='file_number', test_file_str='File_Number'):
    clean_source = 'clean_' + source_name_str
    clean_test = 'clean_' + test_name_str
    source_clean_names = clean_names(source_file, source_name_str)
    source_file[clean_source] = source_clean_names
    test_clean_names = clean_names(test_file, test_name_str)
    test_file[clean_test] = test_clean_names
    matched_list = []

    for test_index, test_clean_name in enumerate(test_clean_names):
        matched_name = process.extractOne(query=test_clean_name, choices=source_clean_names, 
                                          scorer = fuzz.token_set_ratio)
        if matched_name is not None:
            test_cols = [test_name_str, test_file_str, clean_test]
            source_col = [source_name_str, source_file_str, clean_source]
            source_index = source_clean_names.index(matched_name[0])
            test_dat = test_file.iloc[test_index][test_cols]
            source_dat = source_file.iloc[source_index][source_col]
            score = matched_name[1]
            output_list = np.append(test_dat, source_dat)
            final_output_list = np.append(output_list, score)
            matched_list.append(final_output_list)
            col_list = ['test_'+test_name_str, 'test_'+test_file_str, 'clean_test',  'source_'+source_name_str,
                        'source_'+source_file_str, 'clean_source', 'matched_score']
            matched_df = pd.DataFrame(matched_list, columns=col_list)
            matched_df['comparison'] = np.where(matched_df['test_' + test_file_str] == matched_df['source_' + source_file_str],
                True, False)
    return matched_df, source_clean_names, test_clean_names

In [15]:
source_file_name = "2010_2018_name_file_number_whole.xlsx"
test_file_name = "2021_01_25_PCCM_FFPE_blocks_1_672_RB.xlsx"
folder = 'D:\\Shweta\\Patient_name_matching'
source_path = os.path.join(folder, source_file_name)
test_path = os.path.join(folder, test_file_name)
source_file = pd.read_excel(source_path)
test_file = pd.read_excel(test_path)

D:\miniconda3\envs\map_var\lib\site-packages\openpyxl\worksheet\_reader.py:207: UserWarning: Cell AF80 is marked as a date but the serial value 170051448 is outside the limits for dates. The cell will be treated as an error.
  warn(msg)
D:\miniconda3\envs\map_var\lib\site-packages\openpyxl\worksheet\_reader.py:207: UserWarning: Cell AF83 is marked as a date but the serial value 170069196 is outside the limits for dates. The cell will be treated as an error.
  warn(msg)
D:\miniconda3\envs\map_var\lib\site-packages\openpyxl\worksheet\_reader.py:207: UserWarning: Cell DF96 is marked as a date but the serial value 150110913 is outside the limits for dates. The cell will be treated as an error.
  warn(msg)
D:\miniconda3\envs\map_var\lib\site-packages\openpyxl\worksheet\_reader.py:207: UserWarning: Cell AF112 is marked as a date but the serial value 160009115 is outside the limits for dates. The cell will be treated as an error.
  warn(msg)
D:\miniconda3\envs\map_var\lib\site-packages\openpyxl\worksheet\_reader.py:207: UserWarning: Cell DF112 is marked as a date but the serial value 160015902 is outside the limits for dates. The cell will be treated as an error.
  warn(msg)
D:\miniconda3\envs\map_var\lib\site-packages\openpyxl\worksheet\_reader.py:207: UserWarning: Cell AF134 is marked as a date but the serial value 160182838 is outside the limits for dates. The cell will be treated as an error.
  warn(msg)
D:\miniconda3\envs\map_var\lib\site-packages\openpyxl\worksheet\_reader.py:207: UserWarning: Cell AF421 is marked as a date but the serial value 170208492 is outside the limits for dates. The cell will be treated as an error.
  warn(msg)
D:\miniconda3\envs\map_var\lib\site-packages\openpyxl\worksheet\_reader.py:207: UserWarning: Cell AF502 is marked as a date but the serial value 170069194 is outside the limits for dates. The cell will be treated as an error.
  warn(msg)
D:\miniconda3\envs\map_var\lib\site-packages\openpyxl\worksheet\_reader.py:207: UserWarning: Cell AF505 is marked as a date but the serial value 300113070 is outside the limits for dates. The cell will be treated as an error.
  warn(msg)
D:\miniconda3\envs\map_var\lib\site-packages\openpyxl\worksheet\_reader.py:207: UserWarning: Cell AF545 is marked as a date but the serial value 27817118 is outside the limits for dates. The cell will be treated as an error.
  warn(msg)
D:\miniconda3\envs\map_var\lib\site-packages\openpyxl\worksheet\_reader.py:207: UserWarning: Cell BP670 is marked as a date but the serial value 180083797 is outside the limits for dates. The cell will be treated as an error.
  warn(msg)
D:\miniconda3\envs\map_var\lib\site-packages\openpyxl\worksheet\_reader.py:207: UserWarning: Cell CK672 is marked as a date but the serial value 180084688 is outside the limits for dates. The cell will be treated as an error.
  warn(msg)

In [16]:
matched_names, source_clean_names, test_clean_names =find_matched_name_file_num(source_file, test_file, source_name_str='patient_name',
                  test_name_str='Patient Name', source_file_str='file_number', test_file_str='File_Number')

matched_names.head()

,test_Patient Name,test_File_Number,clean_test,source_patient_name,source_file_number,clean_source,matched_score,comparison
0,Shubhada Bodas,264/12,shubhada bodas,Shubhada Bodas,264/12,shubhada bodas,100,True
1,Vidya Dixit,518/16,vidya dixit,dixit vidya,518/16,dixit vidya,100,True
2,Vidya Dixit,518/16,vidya dixit,dixit vidya,518/16,dixit vidya,100,True
3,Ashitha Michael,201/17,ashitha michael,ASHITHA ROBERT MICHAEL,201/17,ashitha robert michael,100,True
4,Neelu Ramchandani,555/16,neelu ramchandani,ramchandani neelu,555/16,ramchandani neelu,100,True

In [17]:
source_clean_names[0:10]

['anantakrishnan lubna',
 'asha agarwal',
 'neha agarwal         ',
 'arora m sudhir',
 'ahir dhirkumar rupchand',
 'aragkar rahul',
 'belekar sudamati',
 'kadam rashmi',
 'charan hanumant bhandari',
 'bhachandrani sonam']

In [18]:
test_clean_names[0:10]

['shubhada bodas',
 'vidya dixit',
 'vidya dixit',
 'ashitha michael',
 'neelu ramchandani',
 'neelu ramchandani',
 'alpana bose',
 'isabella gupta',
 'indira nair ',
 'satwasheila thorat']

In [19]:
# matched_names.to_excel(os.path.join(folder, '22_02_2021_names_file_number_score_partial_token_set.xlsx'))

In [21]:
sum(matched_names['comparison']==True)

677

In [22]:
sum(matched_names['comparison']==False)

85