In [2]:
import os
import sqlite3
import pandas as pd

In [15]:
folder = 'D:/Shweta/pccm_db'
file1 = 'PCCM_BreastCancerDB_2021_02_22.db'
file2 = 'PCCM_BreastCancerDB_2021_03_13.db'
path_db1 = os.path.join(folder, file1)
path_db2 = os.path.join(folder, file2)

In [20]:
conn1 = sqlite3.connect(path_db1)
cursor1 = conn1.cursor()

In [21]:
sql_stat = "SELECT * FROM sqlite_master WHERE TYPE = 'table'"
tables = cursor1.execute(sql_stat)
tables = pd.read_sql(sql_stat, conn1)
tables.head()

,type,name,tbl_name,rootpage,sql
0,table,patient_information_history,patient_information_history,2,CREATE TABLE patient_information_history(file_...
1,table,biopsy_path_report_data,biopsy_path_report_data,3,"CREATE TABLE biopsy_path_report_data(pk, file_..."
2,table,surgery_path_report_data,surgery_path_report_data,4,"CREATE TABLE surgery_path_report_data(fk, file..."
3,table,block_data,block_data,7,"CREATE TABLE block_data(fk, file_number, block..."
4,table,radiology,radiology,8,"CREATE TABLE radiology(file_number, mammograph..."

In [22]:
tables.iloc[0][4]

'CREATE TABLE patient_information_history(file_number, mr_number, name, aadhaar_card, firstvisit_date, permanent_address, current_address, phone, email_id, gender, age_at_first_visit_yrs, diagnosis_age_yrs, date_of_birth, place_birth, height_cm, weight_kg, bmi, physical_activity_y_n, type_physical_activity, frequency_physical_activity, diet, alcohol_y_n, alcohol_consumption_age_yrs, quantity_alcohol_per_week, duration_alcohol, comments_alcohol, tobacco_y_n, exposure_mode, type_passive, type_tobacco, tobacco_consumption_age_yrs, tobacco_frequency, quantity_tobacco_per_week, duration_tobacco, comments_tobacco, other_deleterious_habits, nutritional_supplements_y_n, type_nutritional_supplements, quantity_nutritional_supplements, duration_nutritional_supplements, marital_status, siblings, sisters, brothers, children, daughters, sons, menarche_yrs, menopause_status, age_at_menopause_yrs, date_last_menstrual_period, period_type, number_pregnancies, pregnancy_to_term, number_abortions, age_first_child, age_first_pregnancy, age_last_child, age_last_pregnancy, two_births_in_year, breast_feeding, child_breast_feeding, duration_breast_feeding, breast_usage_breast_feeding, fertility_treatment_y_n, type_fertility_treatment, details_fertility_treatment, cycles_fertility_treatment, success_fertility_treatment, type_birth_control_used, details_birth_control, duration_birth_control, any_other_medical_history_y_n, type_any_other_medical_history, diagnosis_date_any_other_medical_history, treatment_any_other_medical_history, previous_cancer_history_y_n, type_previous_cancer, year_diagnosed_previous_cancer, treatment_previous_cancer, treatment_type_previous_cancer, treatment_duration_previous_cancer, familycancer_history_y_n, type_degreerelation_typerelation_age_familycancer, current_breast_cancer_detected_by, current_breast_cancer_detected_date, rb_symptoms, rb_symptoms_duration, lb_symptoms, lb_symptoms_duration, rb_other_symptoms, rb_other_symptoms_duration, lb_other_symptoms, lb_other_symptoms_duration, patient_metastasis_symptoms, usg_abdomen, diagnosis_usg_abdomen, details_diagnosis_usg_abdomen, cect_abd_thorax, visceral_metastasis_cect_abd_thorax, details_visceral_metastasis_cect_abd_thorax, pet_scan, visceral_metastasis_pet_scan, detail_visceral_metastasis_pet_scan, skeletal_metastasis_pet_scan, detail_skeletal_metastasis_pet_scan, bone_scan, skeletal_metastasis_bone_scan, detail_skeletal_metastasis_bone_scan, update_by, last_update)'

In [23]:
block_sql_stat = "SELECT * FROM block_data"
block_data = cursor.execute(block_sql_stat)
block_data = pd.read_sql(block_sql_stat, conn)
block_data

Empty DataFrame
Columns: [fk, file_number, block_id, block_reference, block_type, block_description, update_by, last_update]
Index: []

In [24]:
conn2 = sqlite3.connect(path_db2)
cursor2 = conn2.cursor()

In [25]:
sql_stat = "SELECT * FROM sqlite_master WHERE TYPE = 'table'"
tables = cursor2.execute(sql_stat)
tables = pd.read_sql(sql_stat, conn2)
tables.head()

,type,name,tbl_name,rootpage,sql
0,table,patient_information_history,patient_information_history,2,CREATE TABLE patient_information_history(file_...
1,table,biopsy_path_report_data,biopsy_path_report_data,3,"CREATE TABLE biopsy_path_report_data(pk, file_..."
2,table,surgery_path_report_data,surgery_path_report_data,4,"CREATE TABLE surgery_path_report_data(fk, file..."
3,table,block_data,block_data,7,"CREATE TABLE block_data(fk, file_number, block..."
4,table,radiology,radiology,8,"CREATE TABLE radiology(file_number, mammograph..."